{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalogo.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">


    <img class="w-100" src="{% static 'img\stone-texture.jpg' %}" alt="Descripción de la imagen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 my-4 py-4 mb-3 text-center"><u><h1 class="display-4">Arriendo de Plantas</h1></u></div>
            <div class="col-2"></div>
            <p class="col-8">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste natus mollitia alias voluptas ea facilis!</p>
            <div class="col-2"></div>
            <!--MENU DE PLANTAS-->
            <div class="col-1"></div>
            <div class="col-10 d-flex recuadro align-items-center align-self-center border rounded-5 border-dark container-fluid mb-5">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-9 mt-5"><u><h5 class="display-5">Arbustos</h5></u></div>
                    <div class="col-2"></div>

                    <div class="col-12 container-fluid">
                        <div class="row">
                            {%if arbustos%}
                            {%for a in arbustos%}
                                <div class="text-center col-4 mb-3">
                                    <a href="{%url 'detalle_planta' id=a.id%}">
                                    <img class="col-4 px-5 mt-5 w-100 mb-3"  src="{{ a.imagen.url }}" alt="{{ a.nombre }}">
                                    <h4>{{a.nombre}}</h4>
                                    <h5>{{a.nombre_cientifico}}</h5>
                                    </a>
                                </div>
                            {%endfor%}
                            {%else%}
                                <h5>No se encontraron arboles</h5>
                            {%endif%}
                        </div>
                    </div>
                    <!--FILA 2-->

                    <hr>
                    <div class="col-1"></div>
                    <div class="col-9 mt-5"><u><h5 class="display-5">Arboles</h5></u></div>
                    <div class="col-2"></div>

                    <!--FILA 3-->
                    <div class="col-12 container-fluid mt-4">
                        <div class="row">
                            {%if arboles%}
                                {%for a in arboles%}
                                    <div class="text-center col-3 mb-3">
                                        <a href="{%url 'detalle_planta' id=a.id%}">
                                            <img class="col-4 px-5 mt-5 w-100 mb-3"  src="{{ a.imagen.url }}" alt="{{ a.nombre }}">
                                            <h4>{{a.nombre}}</h4>
                                            <h5>{{a.nombre_cientifico}}</h5>
                                        </a>
                                    </div>
                                {%endfor%}
                            {%else%}
                                <h5>No se encontraron arboles</h5>
                            {%endif%}
                        </div>
                    </div>


                    <!--FILA BOTON-->
                    <div class="col-4"></div>
                    <a href="{%url 'crear_arrendatario' %}"class="col-4 mb-5  mt-3 text-center align-self-center">
                        <button class="boton text-dark boton w-100">Hacer Arriendo!</button>
                    </a>

                    <div class="col-4"></div>
                    <!--FILA BOTON-->

                </div>    
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{%endblock%}