{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-2"></div>
        <div class="col-8 text-center d-flex justify-content-around align-items-center">
            <h3 class="display-5 my-5">CREAR EJECUTIVO</h3>
            <a href="{%url 'menu_ejecutivos'%}">
                <button class="btn btn-warning py-3 px-4 mx-3">Volver</button>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col-md-6 mb-4">
            <form method="POST" class="border rounded-8 border-dark p-4">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.nombre.id_for_label }}">Nombres</label>
                        {{ form.nombre }}
                    </div>
                    <div class="col">
                        <label for="{{ form.apellido.id_for_label }}">Apellidos</label>
                        {{ form.apellido }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                        {{ form.email }}
                    </div>
                    <div class="col">
                        <label for="{{ form.rol.id_for_label }}">Rol</label>
                        {{ form.rol }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.rut.id_for_label }}">Rut</label>
                        {{ form.rut }}
                    </div>
                    <div class="col">
                        <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                        {{ form.telefono }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.contraseña.id_for_label }}">Contraseña</label>
                        <input type="password" name="{{ form.contraseña.name }}" class="form-control">
                    </div>
                    <div class="col">
                        <label for="{{ form.contraseña2.id_for_label }}">Repite la Contraseña</label>
                        <input type="password" name="{{ form.contraseña2.name }}" class="form-control">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success">Guardar Ejecutivo</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
