{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/detalle_seleccion_plantas.css' %}">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="display-5 my-3 mt-4">Cuantas {{planta.nombre}} desea arrendar?</h3>
            </div>

        </div>
        <div class="row recuadro my-4 py-5 align-items-center">
            <div class="col-0 col-md-3"></div>
            <div class="col-7 col-sm-4 col-md-3">
                <img src="{{planta.imagen.url}}" alt="" class="w-100">
            </div>
            <div class="col-5 col-sm-8 col-md-3">
                
                <a class="d-flex align-items-start  text-right justify-content-end mb-2" href="{%url 'seleccionar_plantas'%}"><img class="fotito" src="{% static 'C:\Users\Tomas\Desktop\rentaGardenLogicaCambiada\static\img\X.png' %}" alt=""></a>
                <h4 class="nombre_planta ">{{planta.nombre}}</h4>
                <h5 class="texto_planta display-3">Nombre Cientifico: <b>{{planta.nombre_cientifico}}</b></h5>
                <h5 class="texto_planta display-3">Stock Disponible: <b>{{planta.stock}}</b></h5>
                <h5 class="texto_planta display-3">Valor Unidad: <b>{{planta.valor}}</b></h5>

                <form method="POST" class="mt-4 text-center">
                    {%csrf_token%}
                    <p class="text-danger">{{problem}}</p>
                    <br class="separador">
                    <p class="aparece_chico display-5"><b>Ingrese la cantidad de plantas</b></p>
                    {{form.cantidad}}
                    <div class="text-center d-flex justify-content-around">
                        <button type="submit" class="btn btn-success botoncito px-3 py-3 mt-3 text-center">Agregar al Pedido</button>
                </div>
                </form>

            </div>
            <div class="col-0 col-md-1 "></div>
            <div class="col-0 col-md-2"></div>
        </div>
    </div>

{%endblock%}