{%extends 'base.html'%}
{%block content%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center">
                <u><h3 class="display-5 my-4 mx-5">MENSAJES</h3></u>
                <form method="POST">
                    <input type="text" placeholder="Buscar">
                </form>
            </div>

        </div>
    </div>
    <div class="row border border-dark rounded-5 py-5 px-4">
        <div class="col-3"></div>
        <div class="col-5 mb-3"><h3>Mensajes Nuevos</h3></div>
        <div class="col-4"> </div>
        {%if mensajes%}
        {%for a in mensajes%}
        <div class="col-3"></div>
        <div class="col-6 container-fluid border border-dark recuadro mb-1">
            <div class="row">
                <div class="col-8 my-4 px-5">
                    <a href="{%url 'leer_mensaje' id=a.id%}"><h4>De: {{a.nombre}}</h4></a>
                    <h5>Asunto: {{a.asunto}}</h5>
                    <h5>Correo: {{a.email}}</h5>

                </div>
                <div class="col-4 borde-izquierdo">
                    <h5 class="pt-4">Fecha: {{a.fecha}}</h5>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
        {%endfor%}
        {%else%}
        <div class="col-12 text-center">
            <h5>(No hay mensajes nuevos)</h5>
        </div>
        {%endif%}
    </div>



    <div class="row border border-dark rounded-5 py-5 px-4">
        <div class="col-3"></div>
        <div class="col-5 mb-3"><h3>Mensajes Leidos</h3></div>
        <div class="col-4"> </div>
        
        {%for a in mensajesLeidos%}
        <div class="col-3"></div>
        <div class="col-6 container-fluid border border-dark recuadro mb-1">
            <div class="row">
                <div class="col-8 my-4 px-5">
                    <a href="{%url 'leer_mensaje' id=a.id%}"><h4>De: {{a.nombre}}</h4></a>
                    <h5>Asunto: {{a.asunto}}</h5>
                    <h5>Correo: {{a.email}}</h5>

                </div>
                <div class="col-4 borde-izquierdo">
                    <h5 class="pt-4">Fecha: {{a.fecha}}</h5>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
        {%endfor%}
    </div>
</div>
{%endblock%}