{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="d-flex justify-content-around my-4 align-items-center">
            <h3 class="text-center my-4">Modificar Ejecutivo</h3>
            <a href="{%url 'menu_ejecutivos'%}"><button class="btn btn-warning">Volver</button></a></div>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.nombre.id_for_label }}">Nombres</label>
                        {{ form.nombre }}
                    </div>
                    <div class="col">
                        <label for="{{ form.apellido.id_for_label }}">Apellidos</label>
                        {{ form.apellido }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.rut.id_for_label }}">Rut</label>
                        {{ form.rut }}
                    </div>
                    <div class="col">
                        <label for="{{ form.rol.id_for_label }}">Rol</label>
                        {{ form.rol }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.email.id_for_label }}">Correo Electrónico</label>
                        {{ form.email }}
                    </div>
                    <div class="col">
                        <label for="{{ form.telefono.id_for_label }}">Teléfono</label>
                        {{ form.telefono }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="{{ form.contraseña.id_for_label }}">Contraseña</label>
                        {{ form.contraseña }}
                    </div>
                    <div class="col">
                        <label for="{{ form.contraseña2.id_for_label }}">Repite la Contraseña</label>
                        {{ form.contraseña2 }}
                    </div>
                </div>
                <div class="d-flex justify-content-around"></div>
                <button type="submit" class="btn btn-primary mb-5">Modificar</button>
                
            </form>
        </div>
    </div>
</div>
{% endblock %}
