{%extends 'base.html'%}
{%block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center my-5">
                <h3 class="display-5">Ingrese sus datos o haga login si tiene una cuenta</h3>
            </div>
            <hr>
            <br>
            <div class="col-1"></div>
            <div class="col-10 container">
                <div class="row">
                    <div class="col-6 container">
                        <div class="row">
                            <div class="col-12">
                                <h5 class="text-center mt-1">Si ya Tienes una cuenta</h5>
                                {%if loginProblem%}
                                    <p class="text-danger">{{loginProblem}}</p>
                                {%endif%}
                            </div>
                            <div class="col-12">
                                <h3 class="text-center mt-4">Login</h3>
                            </div>
                            <hr>
                            <div class="col-2"></div>
                            <div class="col-8 container">
                                <form method="POST" class="row">
                                    {%csrf_token%}
                                    <div class="col-12 text-center">
                                        <h5>Email</h5>
                                        {{loginForm.login_email}}
                                    </div>
                                    <div class="col-12 text-center">
                                        <h5>Contraseña</h5>
                                        {{loginForm.contraseña}}
                                    </div>
                                    <button type="submit" name="login_form_submit" class="col-12">Iniciar sesión</button>
                                </form>
                            </div>
                            <div class="col-2"></div>
                        </div>


                        <hr>
                    </div>
                    <div class="col-6 text-center borde-izquierdo border-dark container">
                        <div class="row">
                            <h5 class="col-12 mt-1">Si no Tienes una cuenta</h5>
                            <h3 class="text-center mt-4 col-12">Ingrese sus datos Personales</h3>
                            {%if loginProblem%}
                                <p class="text-danger">{{crearProblem}}</p>
                            {%endif%}
                            <hr>
                            <div class="col-2"></div>
                            <div class="col-8 container">
                                <form method="POST" class="row">
                                    {%csrf_token%}
                                    <div class="col-6">
                                        <h5>Nombre</h5>
                                        {{crearForm.nombre}}
                                    </div>
                                    <div class="col-6">
                                        <h5>Rut</h5>
                                        {{crearForm.rut}}
                                    </div>
                                    <div class="col-6">
                                        <h5>Fecha Nacimiento</h5>
                                        {{crearForm.fecha_nacimiento}}
                                    </div>
                                    <div class="col-6">
                                        <h5>Telefono</h5>
                                        {{crearForm.telefono}}
                                    </div>
                                    <div class="col-12">
                                        <h5>Email</h5>
                                        {{crearForm.email}}
                                    </div>

                                    <button>Login</button>
                                </form>
                                <hr class="mb-3">
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
{%endblock%}