{% extends 'base.html' %}
{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/pedido_fecha.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center d-flex align-items-center justify-content-center">
            <h3 class="display-5 titulo_fecha">Ingrese la Fecha en la que necesita su arriendo</h3>
            <a href="{%url 'volver_direccion'%}"><button class="btn btn-dark volver">Volver</button></a>
        </div>
        <hr>
        <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
        <div class="col-12 col-sm-12 col-md-10 col-lg-6 container mb-5">
            <form method="POST" class="row">
                {% csrf_token %}
                <div class="col-6">
                    <h5 class="texto_campo">Dia del arriendo</h5>
                    {{ form.diaInicio }}
                    {% if form.diaInicio.errors %}
                        <p class="text-danger">{{ form.diaInicio.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <h5 class="texto_campo">Hora del arriendo</h5>
                    {{ form.horaInicio }}
                    {% if form.horaInicio.errors %}
                        <p class="text-danger">{{ form.horaInicio.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <h5 class="texto_campo">Dia fin del arriendo</h5>
                    {{ form.fechaFin }}
                    {% if form.fechaFin.errors %}
                        <p class="text-danger">{{ form.fechaFin.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-6">
                    <h5 class="texto_campo">Hora fin del Arriendo</h5>
                    {{ form.horaFin }}
                    {% if form.horaFin.errors %}
                        <p class="text-danger">{{ form.horaFin.errors }}</p>
                    {% endif %}
                </div>
                <div class="col-4"></div>
                <div class="col-4 text-center">
                    <button class="px-5 py-3 rounded-6 my-4 btn border border-dark">Guardar</button>
                </div>
                <div class="col-4"></div>
            </form>
        </div>
        <div class="col-0 col-sm-0 col-md-1 col-lg-3"></div>
    </div>
</div>
{% endblock %}
