{% extends "base.html" %}
{% block content %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'css/pedido_direccion.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mb-3 mt-5">
            <div class="d-flex align-items-center justify-content-center align-items-center titulo">
                <h3 class="display-5 titulo">Ingrese la direccion de su pedido</h3>
                <a href="{%url 'seleccionar_plantas'%}">
                    <button class="boton_volver btn btn-dark  h-100 ">Volver</button>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="col-0 col-sm-1 col-md-1 col-lg-3"></div>
    <div class="col-12 col-sm-10 col-md-10 col-lg-6 container">
        <form method="post" class="row">
            {% csrf_token %}

            <div class="col-6 text-center">
                <h5>Comuna</h5>
                {{form.comuna}}
            </div>
            <div class="col-6 text-center">
                <h5>Calle</h5>
                {{form.calle}}
            </div>
            <div class="col-6 text-center">
                <h5>Numero</h5>
                {{form.numero}}
            </div>
            <div class="col-6 text-center">
                <h5>Depto / Block / Etc</h5>
                {{form.depto}}
            </div>
            <div class="col-12 text-center">
                <h5>Indicaciones Especiales</h5>
                {{form.indicaciones}}
            </div>
            <div class="container col-12">
                <div class="row">
                    <div class="col-0 col-sm-1 col-md-7 col-lg-9"></div>
                    <button class="col-12 col-sm-10 col-md-5 col-lg-3 py-4 mb-4 btn btn-success border border-dark" type="submit">Enviar</button>
                    <div class="col-0 col-sm-1 col-md-0 col-lg-0"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-0 col-sm-1 col-md-1 col-lg-3"></div>
</div>

{% endblock %}