{%extends 'base.html'%}
{%block content%}
{%load static%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12 text-center mt-5 mb-2">
            <h5 class="display-5">Selecciona tus Plantas</h5>
            <h5 class=" mb-5">Presiona Sobre ellas y Selecciona cuantas quieres arrendar</h5>

        </div>
    </div>
    <div class="row recuadro border-5 rounded-7 pb-5 mb-5  px-5 pt-5 mx-4">
        <div class="col-1"></div>
        <div class="col-8 container ">
            <div class="row">
                <div class="col-1 mb-3"></div>
                <div class="col-11 mb-3">
                    <h5 class="display-6"><u>Arbustos</u></h5>
                </div>
                {%for a in arbusto%}
                    <div class="col-4 text-center my-4">
                            <a href="{%url 'detalle_seleccion_plantas' id=a.id%}"><img src="{{a.imagen.url}}" alt="" class="w-100 px-5">
                            <h5 >{{a.nombre}}</h5>
                            <h5>{{a.nombre_cientifico}}</h5></a>
                    </div>
                {%endfor%}
            </div>
            <hr>
            <div class="row">
                <div class="col-1 mt-5 mb-3"></div>
                <div class="col-11 mt-5 mb-3">
                    <h5 class="display-6"><u>Arboles</u></h5>
                </div>
                {%for a in arbol%}
                    <div class="col-3 text-center my-4">
                        <a href="{%url 'detalle_seleccion_plantas' id=a.id%}">
                            <img src="{{a.imagen.url}}" alt="" class="w-100 px-5">
                            <h5 >{{a.nombre}}</h5>
                            <h5>{{a.nombre_cientifico}}</h5>
                        </a>
                    </div>
                {%endfor%}
            </div>
        </div>
        <!--PLANTAS YA SELECCIONADAS-->
        <div class="col-3 borde-izquierdo">
            <h5 class="mt-4 mx-4">Plantas Seleccionadas para su pedido...</h5>
            <hr>
            <h5 class="mx-2">Cantidad de plantas: {{conteo}}</h5>
            <h5 class="mx-2">Valor Total: {{valor_formateado}}</h5>
            <div class="text-center">
                <a href="{%url 'direccion_pedido'%}"><button class=" botoncitoCul text-center">Concretar Pedido</button></a>
            </div>

            {% for a in datos %}
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-10"></div>
                    <a class="col-2 float-right mb-3" href="{% url 'eliminar_seleccion' id=a.planta.id %}">
                        <img class="cerrar" src="{% static 'C:\Users\Tomas\Desktop\rentaGardenLogicaCambiada\static\img\X.png' %}" alt="">
                    </a>
                </div>
            </div>
        
            <!-- Código para mostrar la planta y la cantidad -->
            <h6 class="mb-3 mx-3 text-center">{{ a.planta.nombre }} X {{ a.cantidad }}</h6>
            <div class="container">
                <div class="row">
                    <div class="col-3"></div>
                    <img src="{{ a.planta.imagen.url }}" alt="" class="col-6 mb-2">
                    <div class="col-3"></div>
                </div>
            </div>
        {% endfor %}
        
        </div>

        <div class="col-1"></div>
    </div>
</div>
{%endblock%}