{% extends 'base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">

<div class="container-fluid">
    <div class="row justify-content-center align-items-center mt-2 text-center">
        <div class="col-lg-9 col-md-12 col-sm-12 col-12 text-center mt-3">
            <u><h2 class="display-5 mb-4">Inicio de Sesion</h2></u>
            {%if problem%}
                <h6 class="text-danger">*{{problem}}</h6>
            {%endif%}
        </div>
        <div class="col-4 col-md-0 col-lg-3"></div>
        <div class="col-0 col-md-1 col-lg-2"></div>
        <div class="px-5 col-lg-5 col-md-8 col-12 align-items-center container-fluid border rounded-8 border-dark py-3">
            <form method="POST" class="register-form row">
                {% csrf_token %}
                <div class="col-3"></div>
                <img class="img-fluid col-6 mb-4 foto_chica" src="{% static 'img/suculentaRedondaa.png' %}" alt="Imagen de ejemplo">
                <div class="col-3"></div>

                <div class="col-1"></div>
                <div class="col-10 mb-4 w-100">
                    <h5>Correo Electronico</h5>
                    {{form.username}}
                </div>
                <div class="col-1"></div>

                <div class="col-1"></div>
                <div class="col-10 mb-4 w-100">
                    <h5>Contraseña</h5>
                    {{form.password}}
                </div>
                <div class="col-1"></div>

                <div class="col-2 col-sm-2 col-md-2 mb-3"></div>
                <button class="col-6 col-sm-6 col-md-6 btn btn-success mb-3">Iniciar Sesion</button>
                <div class="col-3 col-sm-3 col-md-3 mb-3"></div>
            </form>
        </div>

            <div class="col-lg-3 col-md-4  col-8 mb-5 text-center">
            <img class="img-fluid foto" src="{% static 'img/suculentaRedondaa.png' %}" alt="Imagen de ejemplo">
            </div>
        <div class="col-2"></div>
    </div>
</div>
<br>
<br>


{% endblock %}
